<div>
        
    </div>
<div id="componentDemoContent" style="width: 1px; min-width: 100%;">
    <span><oj-input-text id="clear-icon-always" raw-value="{{searchValue}}" clear-icon="always"></oj-input-text></span>
    <oj-list-view id="listview" aria-label="list using array" 
          data="[[dataProvider]]" 
          selection-mode="single">
        <template slot="itemTemplate" data-oj-as="item">
            <div class="oj-flex">
                <div class="oj-flex-item" style="width:75%">
                    <div class="oj-lg-10 oj-md-10 oj-sm-12">
                        <div class="oj-flex row">
                            <div class="oj-lg-12">
                                <h4>
                                    <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
                                </h4>
                            </div>
                        </div>
                        <div class="oj-flex row">
                            <div class="oj-lg-4 oj-md-4 oj-sm-12">
                                <span class="data"><b>Gender: </b><span><oj-bind-text value="[[item.data.gender]]"></oj-bind-text></span></span>
                            </div>
                            <div class="oj-lg-4 oj-md-4 oj-sm-12">
                                <span class="data"><b>Height: </b><span><oj-bind-text value="[[item.data.height]]"></oj-bind-text></span></span>
                            </div>
                            <div class="oj-lg-4 oj-md-4 oj-sm-12">
                                <span class="data"><b>Homeworld: </b><span><oj-bind-text value="[[item.data.homeworld]]"></oj-bind-text></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
  </oj-list-view>  
</div>